*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Gelasio', serif;
}
Html body{
width: 100%;
height: 100%;
background-color: #000000;
scroll-behavior: smooth;    
}
header{
height: 100vh;
background-image:conic-gradient(#000000,#000000,transparent,transparent,#000000,#000000),url(../image/image1.jpg);
background-origin: center;
background-size: fixed;
display: block;
background-repeat: no-repeat;
}
.logo img{
margin-top: 40px;
margin-left: 50px;
}
section{
padding: 30px;
}

/*//////////// section heading style////////////////*/

.text-color{
color: #990000 ;
text-transform: uppercase;
font-weight: 700; 
font-family: 'Gelasio', serif;
text-shadow: 0 0 15px  #330000;
}

/****************navbar style****************/
.navbar{
background-color:#000;

}
.main-nav{
margin-right: 20px;
justify-content: space-around;
list-style: none; 
}
.main-nav li{

list-style: none;
margin-right: 20px;
font-size: 18px;
font-weight: bold;
}
.main-nav li a{
display: inline-block;
color: #990000;
text-decoration: none;
}
.main-nav li a:hover{   
color: #fff;
}
.main-nav li a::after {
content: '';
display: block;
width: 0;
height: 1px;
background: #990000;
transition: width .4s;
}

.main-nav li a:hover::after {
width: 100%;
}
/***************header page text style****************/
.main-content-header{
width: 100%; 
position: absolute;
text-align: center;
margin-top: 200px ;
}

.main-content-header h3{

font-size: 42px;
color: #990000 ;
font-weight: bolder;
letter-spacing: 1px;
word-spacing: 1px;
text-transform: bold;
text-shadow: 5px 10px 10px #7B1600;  
}

.main-content-header p{

font-size: 20px;
color:#7B1600;
font-weight: bold;
word-spacing: 3px;
text-shadow: 1px 1px 15px #990000;
}
/**************button***************/
.btn{
font-family: 'Gelasio', serif;
width: auto;
background: #000000;
box-shadow: 1px 2px #990000;
}
.btn:hover{
font-family: 'Gelasio', serif;
background: #330000;
box-shadow: 1px 2px #fd0202;
}
button span{
color: #ffffff;
}

/************** form style*************/
div .bg-image .figcaption {
position: absolute;
bottom:0;
left:0;
height: 80%;
width: 100%;
}

.item .icon {
font-size: 50px;
color:#990000;
}
.item .cont-num {
margin-right: 30px;
}
.item .cont-num h6 {
font-size: 14px;
color:#fff;
}
.inputtext:hover{
background-color:transparent; 
box-shadow: 0 0 11px#edc3a5;
}
.FormControlTextarea{
outline: none;
margin-left: 5px ;
margin-right: 5px;
border: 1px solid#ffffff;
}
.FormControlTextarea:focus{
outline: 0;
}
.FormControlTextarea:hover{
box-shadow: 0 0 11px#edc3a5;
}

/*//////image hover effect//////*/
div.img-hover {
color: #fff;
position: relative;
overflow: hidden;
width: 100%;
background: #000000;
text-align: center;
}
div .img-hover *{
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
div .img-hover img {
opacity: 1;
width: 100%;
-webkit-transition: opacity 0.35s;
transition: opacity 0.35s;
transition: 1s ease;
}
div .img-hover figcaption {
font-size: 14px;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
}
div .img-hover figcaption > div {
height: 50%;
overflow: hidden;
width: 100%;
position: relative;
}
div .img-hover figcaption::before {
position: absolute;
top: 50%;
right: 50%;
left: 50%;
height: 1px;
content: '';
opacity: 0;
background-color: rgba(255, 255, 255, 0);
-webkit-transition: all 0.4s;
transition: all 0.4s;
-webkit-transition-delay: 0.6s;
transition-delay: 0.6s;
}
div .img-hover h2,div .img-hover p{
margin: 0;
padding: 30px 35px;
opacity: 0;
position: absolute;
height: 100%;
width: 100%;
left: 0;
-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
transition: opacity 0.4s,-webkit-transform 0.4s,-moz-transform 0.4s,-o-transform 0.4s,transform 0.4s;
}
.img-hover h2 {
font-size: 30px;
display: inline-block;
word-spacing: -0.1em;
font-weight: 300;
text-transform: uppercase;
word-spacing: 2px;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
-webkit-transform: translate3d(0%, 50%, 0);
transform: translate3d(0%, 50%, 0);
-webkit-transition-delay: 0s;
transition-delay: 0s;
}
div.img-hover p {
word-spacing: 2px;
font-weight: 300;
top: 0%;
color: #fff;
background: rgba(0, 0, 0, 0.5);
-webkit-transform: translate3d(0%, -50%, 0);
transform: translate3d(0%, -50%, 0);
-webkit-transition-delay: 0s;
transition-delay: 0s;
}
div.img-hover a {
left: 0;
right: 0;
top: 0;
bottom: 0;
position: absolute;
color: #ffffff;
}
div.img-hover:hover img{
opacity: 0.7;
-moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
}
div.img-hover:hover figcaption h2,
div.img-hover:hover figcaption p {
-webkit-transform: translate3d(0%, 0%, 0);
transform: translate3d(0%, 0%, 0);
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s;
}
div.img-hover:hover figcaption h2 {
opacity: 1;
}
div.img-hover:hover figcaption p {
opacity: 1;
}
div.img-hover:hover figcaption::before {
background: #ffffff;
left: 0px;
right: 0px;
opacity: 1;
-webkit-transition-delay: 0s;
transition-delay: 0s;
}

/*//// image-hover end/////*/



/*//////////footer start//////////*/
footer{
background-color: #0a0a0a;
width: 100%;
position: absolute ;

}
footer .social{
color: #ffffff;
background:#330000;
border:3px solid #330000;
}
footer .social:hover{
background: #000000;
}
footer a i{
padding: 12px;
font-size: 30px;
width: 60px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
margin-top: 60px;
margin-bottom: 50px;
border-radius: 60%;
}

/*///////footer end////////*/



